version: "3.7"

services:
    postgresdb:
      container_name: postgresdb
      networks:
        - backend
      image: postgres:latest
      volumes:
        - '/data/postgres:/data/db'
      ports:
        - '5432:5432'
      environment:
        POSTGRES_PASSWORD: postgres
        POSTGRES_USER: postgres
        POSTGRES_DB: postgres
      healthcheck:
        test: ["CMD", "/usr/bin/pg_isready"]
        interval: 10s
        timeout: 30s
        retries: 5
        start_period: 5s

    ginbackend:
      container_name: ginbackend
      # build:
      #   context: .
      #   dockerfile: Dockerfile
      image: waltercheng/gin_backend@latest
      networks:
        - backend
      restart: always
      ports:
        - '5000:5000'
      environment: 
        DATABASE_HOST: postgresdb
        DATABASE_PORT: 5432
        DATABASE_USER: postgres
        DATABASE_PWD: postgres
      depends_on:
        postgresdb:
          condition: service_healthy
      links:
        - postgresdb

networks:
  backend:
    driver: bridge